---
 import MainLayout from "../../layouts/MainLayout.astro";
 import SendMessage from "../../components/chat/SendMessage.vue";
 import Nav from "../../components/Index/nav.astro";
 import Actions from "../../components/chat/actions.astro";
 import Messsages from "../../components/chat/Messsages.vue";
 const icon = '/icons/Phone.svg';
 const user1 = '/users/user1.jpg';
 const user2 = '/users/user2.jpg';
 const icon2 = '/icons/DotsThreeVertical.svg';

 export async function getStaticPaths() {
    /*const data = await fetch('localhost:4000/user/all').then(response => response.json());

    return data.map((post) => {
    return {
        params: { id: post.id },
        props: { post },
    };
});*/

 return [
    { params: {
            id: '1',
            urlImage: "https://images.unsplash.com/photo-1554151228-14d9def656e4?q=80&w=1372&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
            connect: 1,
            nameUser: "Jennie Miles",
            lastConnection: "1:26 AM",

        },
    }
 ]

}

const id = Astro.params
---


<MainLayout title="Emessage-IndividualChat">
    <nav class="flex justify-between">
		<Nav />
		<Actions icon={icon} user1={user1} icon2={icon2}/>
	</nav>

    <main class="absolute w-full buttom-0">
        <Messsages image={user2}/>
    </main>

    <div class="absolute w-full bottom-7">
        <SendMessage client:load/>
    </div>
    
</MainLayout>