# build output
backend/dist/ 
frontend/dist/

# generated types
frontend/.astro/

# dependencies
backend/node_modules/
frontend/node_modules/

# logs
backend/npm-debug.log*
frontend/npm-debug.log*
backend/yarn-debug.log*
frontend/yarn-debug.log*
backend/yarn-error.log*
frontend/yarn-error.log*
backend/pnpm-debug.log*
frontend/pnpm-debug.log*
backend/pnpm-lock.yaml
frontend/pnpm-lock.yaml
backend/package-lock.json

#Store 
backend/.pnpm-store/

# environment variables
backend/.env
backend/.env.production

# macOS-specific files
backend/.DS_Store
frontend/.DS_Store

# jetbrains setting folder
backend/.idea/
frontend/.idea/
