---
import MainLayout from "../../layouts/MainLayout.astro";
import FullLogo from '../../components/Principal/fullLogo.astro';
import Signup from "../../components/User/Signup.vue";

---

<MainLayout title="EMessage-Register">
    <!--<Image src={logo} alt="Logo Image E-message" class="m-auto mt-6 w-36"/> -->
    <FullLogo classW="m-auto mt-6 w-36 flex items-center gap-3 select-none"/>
    <h2 class="mt-4 text-cprimary font-bold text-2xl text-center">Register your account</h2>

    <Signup client:load></Signup>
</MainLayout>