---
import Logo from '../../../public/Logo.svg'
import { Image } from 'astro:assets';
interface Props {
	classW: string;
}

const { classW } = Astro.props;
---
<div class={classW}>
    <Image src={Logo} alt="Logo e-message" class="w-1/4"/>
    <h1 class="text-sm font-semibold text-[#0E1114] dark:text-[#EEF1F4]">E-Message</h1>
</div>
