---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Desarrollo de una plataforma integrada de mensajería instantánea y videollamadas en tiempo real, diseñada para mejorar la comunicación y colaboración entre los usuarios. El sistema ofrecerá una interfaz intuitiva, seguridad robusta con cifrado de extremo a extremo, y soporte multiplataforma para asegurar accesibilidad desde cualquier dispositivo. Este proyecto busca proporcionar una solución de comunicación eficiente y fiable, optimizando tanto la experiencia del usuario como el rendimiento del sistema." />
		<meta name="viewport" content="width=device-width" />
        <meta name="keywords" content="mensajería instantánea, videollamadas, comunicación segura, cifrado de extremo a extremo, soporte multiplataforma, colaboración en tiempo real, plataforma de mensajería, sistema de videollamadas, software de comunicación">
		<link rel="icon" type="image/svg+xml" href="../../public/logo.svg" />		
		<!--Fuentes -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
	</head>
	<body class="font-PlusJakarta dark:bg-bgColor">
		<slot />
	</body>
</html>
<script>
	if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
		document.documentElement.classList.add('dark')
	}
  </script>