---
const icon = '/icons/settings.svg';
const user1 = '/users/user1.jpg'
---

<div class="flex items-center justify-center mt-4 pr-4 gap-3">
    <img src={icon} alt="Icon Settings" class="w-6 h-6">

    <img src={user1} alt="Ususario 1 preview" class="w-10 h-10 object-cover rounded-full">
    
</div>