---
import Layout from '../layouts/MainLayout.astro';
import Button from '../components/Principal/Button.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<p>Ahora si se viene lo chido</p>
		<Button text='Hola Mundo'/>
	</main>
</Layout>